<div class="main">
  <section class="step-section">
    <div class="step-container">
      <div class="step active">
        <div class="rounded">
          <span class="step-counter">1</span>
        </div>
        <span class="step-title">Prepare</span>
      </div>
      <div class="progressbar">BAR</div>
      <div class="step">
        <div class="rounded">
          <span class="step-counter">2</span>
        </div>
        <span class="step-title">Confirm</span>
      </div>
      <div class="progressbar">BAR</div>
      <div class="step">
        <div class="rounded">
          <span class="step-counter">3</span>
        </div>
        <span class="step-title">Send</span>
      </div>
    </div>
  </section>
  <section class="form">
    <button></button>
  </section>
</div>
