<app-multisender-hero></app-multisender-hero>

<div class="main px-10 pt-7 pb-5">
  <section class="step-section">
    <div class="step-container">
      <div [ngClass]="step == 1 ? 'active' : '' " class="step active">
        <div class="rounded">
          <span class="step-counter">1</span>
        </div>
        <span class="step-title">Prepare</span>
      </div>
      <div [ngClass]="step >= 2 ? 'active' : '' " class="progressbar">BAR</div>
      <div [ngClass]="step >= 2 ? 'active' : '' " class="step">
        <div class="rounded">
          <span class="step-counter">2</span>
        </div>
        <span class="step-title">Confirm</span>
      </div>
      <div [ngClass]="step >= 3 ? 'active' : '' " class="progressbar">BAR</div>
      <div [ngClass]="step >= 3 ? 'active' : '' " class="step">
        <div class="rounded">
          <span class="step-counter">3</span>
        </div>
        <span class="step-title">Send</span>
      </div>
    </div>
  </section>
  <form class="form-container" [formGroup]="preparationData">
    <div class="token-field-container">
      <div class="token-field__item w-full">
        <div class="token-field__label">
          <label class="label-title">Token</label>
          <div class="badge-network">
            <span>Contract (BSC Mainnet)</span>
          </div>
          <div class="balance__container">
            <span>Balance: {{balance}}</span>
          </div>
        </div>
        <div class="token-field__input">
          <input (blur)="onBlur()" (click)="onFocus()" (input)="searchToken()"
                  [(ngModel)]="searchTokenText"
                  formControlName="token" type="text" placeholder="Select your token"
                  class="form-control text-field appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight">
          <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.292893 0.292893C0.683417 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L7 5.58579L12.2929 0.292893C12.6834 -0.0976311 13.3166 -0.0976311 13.7071 0.292893C14.0976 0.683418 14.0976 1.31658 13.7071 1.70711L7.70711 7.70711C7.31658 8.09763 6.68342 8.09763 6.29289 7.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893Z" fill="url(#paint0_linear_156_247)"/>
            <defs>
            <linearGradient id="paint0_linear_156_247" x1="7" y1="0" x2="7" y2="8" gradientUnits="userSpaceOnUse">
            <stop stop-color="#033251"/>
            <stop offset="1" stop-color="#033251" stop-opacity="0.68"/>
            </linearGradient>
            </defs>
          </svg>
          <div *ngIf="openDropdown && filteredUserTokens.length >= 1" class="autocomplete__dropdown w-full border-2">
            <a role="button" (click)="selectToken(item)" class="item w-full hover:bg-gray-200 bg-white py-2 px-3" *ngFor="let item of filteredUserTokens;">{{item.label}}</a>
          </div>            
        </div>
      </div>
      <div class="deflationary__container">
        <label class="label-title">Deflationary</label>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="address-field-container">
      <div class="label-container">
        <div class="left">
          <label class="label-title">Addresses with Amounts</label>
        </div>
        <div class="right">
          <button>Auto add amounts</button>
          <button>Upload File</button>
        </div>
      </div>
      <div class="address__input-container">
        <textarea
            class="
              form-control
              block
              w-full
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              resize-none
            "
            formControlName="receiverWithAmount"
            rows="9"
            placeholder="Put list of address"
        ></textarea>
      </div>
      <div class="label-container">
        <div class="left">
          <label class="text-gray-500	">The address and amount are separated by commas</label>
        </div>
        <div class="right">
          <button>Show Examples</button>
        </div>
      </div>
    </div>
  </form>
  <div class="message-container my-2">
    <div *ngIf="preparationData.controls.token.hasError('AddressNotValid') && preparationData.controls.token.touched" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <span class="block sm:inline">Please enter valid token address</span>
    </div>
  </div>
  <div class="nav-container">
    <button *ngIf="step > 1" type="button" class="btn-nav" (click)="navigateStep(step-1)">Previous</button>
    <button type="submit" class="btn-nav" [disabled]="preparationData.invalid" (click)="navigateStep(step+1)">Next</button>
  </div>
</div>
