<div class="px-10 py-3">
    <div class="flex items-center justify-between">
        <a routerLink="token" class="flex items-center gap-2 cursor-pointer select-none hover:opacity-90">
            <img src="assets/images/header/logo.png" alt="Logo" class="h-9 w-9">
            <p class="text-white">Detective MultiSender</p>
        </a>
        
        <div class="flex items-center justify-center gap-3">
            <section class="flex items-center justify-center gap-2 border-2 py-2 px-3 border-white rounded-xl shadow-md select-none">
                <img src="assets/images/svg/crown.svg" alt="Crown icon">
                <p class="text-white">VIP</p>
            </section>
            
            <section class="relative">
                <button 
                    *ngIf="currentRoute === '/token'" 
                    class="flex items-center gap-2 bg-multisender-green py-2 px-3 rounded-full shadow-md select-none hover:opacity-90"
                    (click)="toggleNavOption()"
                >
                    <img src="assets/images/svg/dice.svg" alt="Dice icon">
                    <p class="text-white">Token MultiSender</p>
                    <img src="assets/images/svg/arrow-down.svg" alt="Arrow down icon">
                </button>

                <button 
                    *ngIf="currentRoute === '/nft'" 
                    class="flex items-center gap-2 bg-multisender-red py-2 px-3 rounded-full shadow-md select-none hover:opacity-90"
                    (click)="toggleNavOption()"
                >
                    <img src="assets/images/svg/box.svg" alt="Box icon">
                    <p class="text-white">NFT MultiSender</p>
                    <img src="assets/images/svg/arrow-down.svg" alt="Arrow down icon">
                </button>

                <div 
                    *ngIf="showNavOption" 
                    class="absolute top-10 bg-container rounded-md w-full shadow-md flex flex-col gap-1 overflow-hidden p-1 z-10"
                    (click)="toggleNavOption()"
                >
                    <a 
                        *ngFor="let item of navItem" 
                        [routerLink]="item.path" 
                        class="flex items-center justify-start gap-2 p-4 select-none hover:opacity-90"
                    >
                        <img [src]="item.icon" alt="Icon nav">
                        <p class="text-white">{{ item.name }}</p>
                    </a>
                </div>
            </section>
        
            <section class="relative">
                <button
                    *ngIf="address !== undefined"
                    class="network-button flex items-center justify-center gap-2 bg-multisender-blue py-2 px-3 rounded-full shadow-md select-none hover:opacity-90"
                    (click)="toggleNetworkOption()"
                >
                    <img [src]="selectedNetwork[0]?.icon" alt="{{selectedNetwork[0]?.name}} icon">
                    <p class="text-white">{{selectedNetwork[0]?.name}}</p>
                    <img src="assets/images/svg/arrow-down.svg" alt="Arrow down icon">
                </button>
                <button *ngIf="address === undefined"
                    class="flex items-center justify-center gap-2 bg-multisender-blue py-2 px-3 rounded-full shadow-md select-none hover:opacity-90"
                >
                    <p class="text-white">Please Connect Wallet First</p>
                </button>

                <div
                    *ngIf="showNetworkOption"
                    class="network-option absolute top-10 bg-container rounded-md w-full overflow-y-auto shadow-md flex flex-col items-start gap-2 overflow-hidden p-3 z-10"
                    (click)="toggleNetworkOption()"
                >
                    <button
                        (click)="changeNetwork(network.chainId)"
                        *ngFor="let network of networkOptions"
                        class="flex items-center gap-2 py-2 select-none hover:opacity-90"
                    >   
                        <img [src]="network.icon" [alt]="network.name + ' icon'">
                        <p class="text-white">{{ network.name }}</p>
                    </button>
                </div>
            </section>
        
            <section>
                <button 
                    class="flex items-center justify-center gap-2 bg-white py-2 px-3 rounded-full shadow-md select-none hover:opacity-90"
                    (click)="toggleModalConnectWallet()"
                >
                    <img src="assets/images/svg/wallet.svg" alt="Wallet icon">
                    <p class="text-multisender-pink font-bold">Connect Wallet</p>
                </button>

                <div
                    *ngIf="showModalConnectWallet" 
                    class="fixed top-0 left-0 w-full h-full bg-multisender-modal z-20 flex items-center justify-center"
                    (click)="toggleModalConnectWallet()"
                >
                    <div class="bg-container p-5 rounded-md w-96 shadow-lg">
                        <div class="flex items-center justify-between">
                            <p class="text-white text-lg font-bold">Connect Wallet</p>
                            <button class="hover:opacity-90"><img src="assets/images/svg/close.svg" alt="Close icon"></button>
                        </div>
                        <div class="p-5 w-full h-full flex items-center justify-center">
                            <button 
                                *ngFor="let wallet of connectWalletOptions"
                                class="flex flex-col items-center justify-center hover:opacity-90"
                                (click)="connectMetamask()"
                            >
                                <img [src]="wallet.icon" alt="Wallet icon">
                                <p class="text-white mt-1">{{ wallet.name }}</p>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>