<div class="px-10 py-3">
    <div class="flex items-center justify-between">
        <a routerLink="token" class="flex items-center gap-2 cursor-pointer select-none hover:opacity-90">
            <img src="assets/images/header/logo.png" alt="Logo" class="h-9 w-9">
            <p class="text-white">Detective MultiSender</p>
        </a>
        
        <div class="flex items-center justify-center gap-3">
            <section class="flex items-center justify-center gap-2 border-2 py-2 px-3 border-white rounded-xl shadow-md select-none">
                <img src="assets/images/svg/crown.svg" alt="Crown icon">
                <p class="text-white">VIP</p>
            </section>
            
            <section class="relative">
                <button 
                    class="flex items-center gap-2 bg-multisender-green py-2 px-3 rounded-full shadow-md select-none hover:opacity-90"
                    (click)="toggleNavOption()"
                >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 8C13.45 8 13 7.55 13 7C13 6.45 13.45 6 14 6C14.55 6 15 6.45 15 7C15 7.55 14.55 8 14 8ZM12 12V19H5V12H12ZM12.78 10H4.22C3.55 10 3 10.55 3 11.22V19.78C3 20.45 3.55 21 4.22 21H12.78C13.45 21 14 20.45 14 19.78V11.22C14 10.55 13.45 10 12.78 10ZM19.78 3H11.22C10.55 3 10 3.55 10 4.22V8H12V5H19V12H16V14H19.78C20.45 14 21 13.45 21 12.78V4.22C21 3.55 20.45 3 19.78 3ZM17 8C16.45 8 16 7.55 16 7C16 6.45 16.45 6 17 6C17.55 6 18 6.45 18 7C18 7.55 17.55 8 17 8ZM17 11C16.45 11 16 10.55 16 10C16 9.45 16.45 9 17 9C17.55 9 18 9.45 18 10C18 10.55 17.55 11 17 11ZM7 15C6.45 15 6 14.55 6 14C6 13.45 6.45 13 7 13C7.55 13 8 13.45 8 14C8 14.55 7.55 15 7 15ZM10 18C9.45 18 9 17.55 9 17C9 16.45 9.45 16 10 16C10.55 16 11 16.45 11 17C11 17.55 10.55 18 10 18Z" fill="white"/>
                    </svg>
                    <p class="text-white">Token MultiSender</p>
                    <img src="assets/images/svg/arrow-down.svg" alt="Arrow down icon">
                </button>

                <div 
                    *ngIf="showNavOption" 
                    class="absolute top-10 bg-container rounded-md w-full shadow-md flex flex-col gap-1 overflow-hidden p-1 z-10"
                    (click)="toggleNavOption()"
                >
                    <a 
                        *ngFor="let item of navItem" 
                        [routerLink]="item.path" 
                        class="flex items-center justify-start gap-2 p-4 select-none hover:opacity-90"
                    >
                        <img [src]="item.icon" alt="Icon nav">
                        <p class="text-white">{{ item.name }}</p>
                    </a>
                </div>
            </section>
        
            <section class="relative">
                <button 
                    class="flex items-center justify-center gap-2 bg-multisender-blue py-2 px-3 rounded-full shadow-md select-none hover:opacity-90"
                    (click)="toggleNetworkOption()"
                >
                    <img src="assets/images/networks/eth.svg" alt="Eth icon">
                    <p class="text-white">Ethereum Mainnet</p>
                    <img src="assets/images/svg/arrow-down.svg" alt="Arrow down icon">
                </button>

                <div
                    *ngIf="showNetworkOption"
                    class="absolute top-10 bg-container rounded-md w-full h-40 overflow-y-auto shadow-md flex flex-col items-start gap-2 overflow-hidden p-3 z-10"
                    (click)="toggleNetworkOption()"
                >
                    <button
                        *ngFor="let network of networkOptions"
                        class="flex items-center gap-2 py-2 select-none hover:opacity-90"
                    >   
                        <img [src]="network.icon" [alt]="network.name + ' icon'">
                        <p class="text-white">{{ network.name }}</p>
                    </button>
                </div>
            </section>
        
            <section>
                <button 
                    class="flex items-center justify-center gap-2 bg-white py-2 px-3 rounded-full shadow-md select-none hover:opacity-90"
                    (click)="toggleModalConnectWallet()"
                >
                    <img src="assets/images/svg/wallet.svg" alt="Wallet icon">
                    <p class="text-multisender-pink font-bold">Connect Wallet</p>
                </button>

                <div
                    *ngIf="showModalConnectWallet" 
                    class="fixed top-0 left-0 w-full h-full bg-multisender-modal z-20 flex items-center justify-center"
                    (click)="toggleModalConnectWallet()"
                >
                    <div class="bg-container p-5 rounded-md w-96 shadow-lg">
                        <div class="flex items-center justify-between">
                            <p class="text-white text-lg font-bold">Connect Wallet</p>
                            <button class="hover:opacity-90"><img src="assets/images/svg/close.svg" alt="Close icon"></button>
                        </div>
                        <div class="p-5 w-full h-full flex items-center justify-center">
                            <button 
                                *ngFor="let wallet of connectWalletOptions"
                                class="flex flex-col items-center justify-center hover:opacity-90"
                            >
                                <img [src]="wallet.icon" alt="Wallet icon">
                                <p class="text-white mt-1">{{ wallet.name }}</p>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>