$multisender-linear-gradient-blue-color: linear-gradient(180deg, #033251 0%, rgba(3, 50, 81, 0.68) 100%);

.step-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: 0 auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  .step-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 448px;

    .step {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      min-width: 60px;

      .rounded {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        position: relative;
        border: 2px solid #B6BCBF;
        border-radius: 50%;
        background: white;
        background-clip: padding-box;
        text-align: center;

        .step-counter {
          font-size: 20px;
          font-weight: 600;
          color: #B6BCBF;
        }
      }

      .step-title {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        color: #B6BCBF;
      }
  
      &.active {
        .rounded {
          border: 2px solid transparent;
          .step-counter {
            color: unset;
            background: $multisender-linear-gradient-blue-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .rounded::after {
          position: absolute;
          top: -3px; bottom: -3px;
          left: -3px; right: -3px;
          background: $multisender-linear-gradient-blue-color;
          content: '';
          z-index: -1;
          border-radius: 50%;
        }

        .step-title {
          color: unset;
          background: $multisender-linear-gradient-blue-color;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .progressbar {
      border-radius: 1px;
      color: transparent;
      width: 100%;
      height: 2px;
      background: #B6BCBF;
      margin-bottom: 5%;
  
      &.active {
        background: $multisender-linear-gradient-blue-color;
      }
    }
  }
}
