<app-multisender-hero></app-multisender-hero>

<div class="main px-10 pt-7 pb-5 flex flex-col items-center justify-center">
    <!-- Step indicator -->
    <section class="step-section">
        <div class="step-container">
          <div [ngClass]="step == 1 ? 'active' : '' " class="step active">
            <div class="rounded">
              <span class="step-counter">1</span>
            </div>
            <span class="step-title">Prepare</span>
          </div>
          <div [ngClass]="step >= 2 ? 'active' : '' " class="progressbar">BAR</div>
          <div [ngClass]="step >= 2 ? 'active' : '' " class="step">
            <div class="rounded">
              <span class="step-counter">2</span>
            </div>
            <span class="step-title">Confirm</span>
          </div>
          <div [ngClass]="step >= 3 ? 'active' : '' " class="progressbar">BAR</div>
          <div [ngClass]="step >= 3 ? 'active' : '' " class="step">
            <div class="rounded">
              <span class="step-counter">3</span>
            </div>
            <span class="step-title">Send</span>
          </div>
        </div>
      </section>
    <!-- End step indicator -->

    <!-- Form group -->
    <form class="mt-12 w-full">
		<section>
			<label class="flex items-center gap-3">
				<span class="font-bold">Token</span>
				<span class="py-1 px-3 bg-blue-linear rounded-full text-white">Contract (BSC Mainnet)</span>
			</label>
			<div class="border border-black flex items-center justify-between rounded-xl overflow-hidden px-3 mt-2">
				<input type="text" class="w-full h-9">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M5.29289 9.29289C5.68342 8.90237 6.31658 8.90237 6.70711 9.29289L12 14.5858L17.2929 9.29289C17.6834 8.90237 18.3166 8.90237 18.7071 9.29289C19.0976 9.68342 19.0976 10.3166 18.7071 10.7071L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L5.29289 10.7071C4.90237 10.3166 4.90237 9.68342 5.29289 9.29289Z" fill="url(#paint0_linear_11_1481)"/>
					<defs>
						<linearGradient id="paint0_linear_11_1481" x1="12" y1="9" x2="12" y2="17" gradientUnits="userSpaceOnUse">
							<stop stop-color="#033251"/>
							<stop offset="1" stop-color="#033251" stop-opacity="0.68"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
		</section>
		<section class="mt-5">
			<div class="flex items-center justify-between">
				<label for="address" class="font-bold">Addresses with TokenId</label>
				<section>
					<label for="upload" class="cursor-pointer border-b border-multisender-blue-dark text-multisender-blue-dark">Upload File</label>
					<input id="upload" type="file" hidden>
				</section>
			</div>
			<textarea id="address" rows="9" class="w-full border border-black mt-2 rounded-xl resize-none p-3"></textarea>
		</section>
		<section class="flex items-center justify-between text-multisender-blue-dark">
			<p>The address and TokenId are separated by commas</p>
			<button>Show examples</button>
		</section>
	</form>
    <!-- End form group -->

    <!-- Step navigation -->
	<div class="w-full flex items-center justify-start mt-5">
		<button 
			*ngIf="step > 1" 
			class="py-1 px-4 rounded-md font-semibold" 
			(click)="navigateStep(step-1)"
		>Back</button>

		<button 
			class="py-1 px-4 rounded-md bg-blue-linear text-white font-semibold" 
			(click)="navigateStep(step+1)"
		>Next</button>
	</div>
    <!-- End step navigation -->
</div>