/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/base16-light';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spline Sans', sans-serif;
}
button {
  pointer-events: all;
}
.CodeMirror
{
  line-height:30px;
  // z-index: 0;
}

